@{
    ViewData["Title"] = "Erişim Engellendi";
}
<div class="row">
    <div class="col-md-12 mb-5">
        <h1 class="display-5 text-center">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Sayfaya erişiminiz yoktur.</h2>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">AnaSayfaya dön</a>
    </div>
</div>
